name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/${{ secrets.EC2_USER }}/Lanidrac-backend
            git pull origin main
            docker build -t lanidrac-backend .
            docker stop lanidrac-backend || true
            docker rm lanidrac-backend || true
            docker run -d \
              --name lanidrac-backend \
              -p 8000:8000 \
              --env-file .env \
              lanidrac-backend
            docker ps
